
/*CSS variables*/
:root {
    --yellow: #ffd700;
    --mauve: #b38d8d;
    --pink: #ffb6b6;
    --maroon: #7a3232;
    --black: black;
    --white: white;
    --hover-color: #d0d0d0;
    --equal-button: #ffff62;
    --font-family: monospace;
}

/* Header Styles*/
.calculator-header {
    text-align: left;
    margin-top: -20px;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: var(--mauve);
    font-size: 8px;
    font-family: var(--font-family);
}

/*Calculator Styles*/
.calculator {
    max-width: 600px;
    margin: 20px auto;
    background: var(--maroon);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/*Display 'Screen' Styles*/
.display {
    background: black;
    padding: 20px;
    margin-bottom: 20px;
    text-align: right;
    font-size: 24px;
    color: var(--yellow);
    font-family: var(--font-family);
    border-radius: 5px;
}


/*Button Styles*/
.buttons-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 12px;
}

button {
    padding: 20px;
    min-width: 70px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
}

button:hover {
    background-color: var(--white);
}

button:active {
    background-color: var(--hover-color);
}

.equal-button {
    grid-column: span 3;
    background: var(--equal-button);
}
.number { background: var(--white); }
.operator { background: var(--yellow); }
.memory { background: var(--mauve); }
.clear { background: var(--pink); }